[Desktop Entry]
Name=Uni
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.pop-os.cosmic-app-template
Exec=uni %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
